<main>
  <section class="consider text-align-center">
    <h1>Consider your question carefully.</h1>

    <div class="gua">
      <div ng-repeat="line in ic.figures.hexagram.props.lines track by $index"
           ng-class="{'yin': line.value == 0,
                      'yang': line.value == 1,
                      'changing': line.changing,
                      'stable': !line.changing}">
      </div>
    </div>

    <button ng-click="ic.figures.hexagram.isComplete ? ic.consult() : ic.ask()">
      <h1>Ask</h1>
    </button>
  </section>
</main>
