<main>
  <section class="consider text-align-center">
    <div class="description">
      <p>Consider your thoughts carefully, then divide the yarrow stalks below for each of your hexagram's six
        lines.</p>
    </div>

    <div class="oracle">
      <div class="gua">
        <div class="line"
             ng-repeat="line in consult.changingHexagram.lines track by $index"
             ng-class="{'yin': line.value == 0,
                    'yang': line.value == 1,
                    'changing': line.changing,
                    'stable': !line.changing}">
        </div>
      </div>
    </div>

    <footer class="text-align-center">
      <button ng-click="consult.divideYarrow()"
              ng-show="!consult.changingHexagram.isComplete">
        <h1>Divide Yarrow Stalks</h1>
      </button>
      <div class="yarrow-stalks">

      </div>
    </footer>
  </section>
</main>
