$black: rgba(0, 0, 0, 0.73);
$gold: rgba(184, 134, 11, 1);

$unit: 1mm;

@keyframes fade-in-out {
  0% {
    opacity: 0.73;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.73;
  }
}
@keyframes spin-Y-axis {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: auto;
  margin: 0;
  padding: 0;
  font: 400 12pt/16pt 'brandon-grotesque';
  color: $black;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  h1 {
    font: 600 12pt/16pt 'brandon-grotesque';
  }
  h2 {
    font: 400 12pt/16pt 'brandon-grotesque';
  }
  h3 {
    font: 200 12pt/16pt 'brandon-grotesque';
  }
}

// Use to display Chinese Unicode characters
.wen {
  font-family: 'source-han-sans-traditional', sans-serif;
  font-size: 4em;
  line-height: 1.8;
  font-weight: 400;
  margin: 12pt;
  color: $gold;
}

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  font: 600 12pt/16pt 'brandon-grotesque';
  color: $black;
  background: none;
  padding: 0 0 6pt;
  border: none;
  border-bottom: 3pt solid $black;
  opacity: 1;
  transition-property: border-bottom-color, color, opacity;
  transition: .33s ease;
  &:hover,
  &:focus,
  &:active {
    color: black;
    border-bottom-color: black;
  }
  &.inactive {
    opacity: 0.73;
  }
}

h1.close {
  display: inline-block;
  cursor: pointer;
  transition: border-bottom-color .33s ease;
  font-size: 2em;
  padding-bottom: 3pt;
  border-bottom: 3pt solid transparent;
  margin-bottom: 16pt;
  width: auto;
  clear: both;
  &:hover,
  &:active,
  &:focus {
    border-bottom-color: white;
  }
}





main {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: auto;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

section {
  flex: 0 0 auto;
  margin-bottom: 6em;
  //flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

footer {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  flex: 0 0 auto;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 24pt;
  &.unfixed {
    position: relative;
  }
  @media screen and (min-height: 600px) {
    padding: 54pt;
  }
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 33vw;
  min-width: 200pt;
  max-width: 300pt;
  color: white;
  background: $gold;
  opacity: 0;
  padding: 2em;
  transition: all .5s ease;
  transform: translateX(100%);
  &.open {
    opacity: 1;
    transform: translateX(0);
  }
}

////////
// Introductory Page
////////

section.introduction {
  .wen {
    line-height: 1;
    margin: 12pt 12pt .8em;
  }
}

////////
// Consult: Consider
////////

section.consider {
  .gua {
    margin-top: 54pt;
  }
  .trigram {
    margin-top: 0;
  }
}

////////
// Consult: Result
////////

section.result {
  flex: 0 0 auto;
  position: relative;
  display: block;
  height: auto;
  padding-top: 96pt;
  padding-bottom: 96pt;
  margin-bottom: 0;
  .description {
    margin: 1.83em 0 0;
  }
}

.description {
  max-width: 324pt;
  //margin: 1.83em auto 0;
  text-align: center;
  h1 {
    margin-bottom: 1em;
  }
  .wen {
    font-size: 1.8em;
    line-height: 1;
    margin-top: 24pt;
    margin-bottom: 12pt;
  }
}
.description-text {
  margin: 1.83em 0;
}
.has-changing-lines {
  font-weight: 600;
  color: $gold;
}

// Hexagram: Guà
.gua {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 96pt;
  height: 81pt;
  margin: 0 auto;
}

////////
// Horizontal lines
////////

.line {
  &.ng-move,
  &.ng-enter,
  &.ng-leave {
    transition: all .33s ease;
  }
  &.ng-leave.ng-leave-active,
  &.ng-move,
  &.ng-enter {
    opacity: 0;
  }
  &.ng-leave,
  &.ng-move.ng-move-active,
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
}

// Solid line: Yang (1)
.yang {
  position: relative;
  width: 100%;
  height: 6pt;
  background: $black;
  margin-bottom: 9pt;
  &:first-of-type {
    margin-bottom: 0;
  }
  &.changing {
    cursor: pointer;
    transition: all .33s ease;
  }
  &.changing:hover {
    background: darkgoldenrod;
  }
  &.changing:after {
    content: '';
    position: absolute;
    right: -12pt;
    width: 6pt;
    height: 6pt;
    border-radius: 50%;
    background: darkgoldenrod;
    transition: all .33s ease;
  }
  &.changing.ng-leave.ng-leave-active:after,
  &.changing.ng-move:after,
  &.changing.ng-enter:after {
    opacity: 0;
    background: $black;
    transform: translateX(-24pt);
  }
  &.changing.ng-leave:after {
    opacity: 1;
    background: darkgoldenrod;
    transform: translateX(-12pt);
  }
}

// Broken line: Yin (0)
.yin {
  @extend .yang;
  &:before {
    content: '';
    position: absolute;
    left: 36pt;
    top: -2pt;
    bottom: 0;
    width: 24pt;
    height: 10pt;
    background: white;
  }
}

// Trigram
// (displayed to right of guà)
.oracle {
  position: relative;
}
.trigram {
  @extend .gua;
  display: none;
  position: absolute;
  align-items: flex-start;
  width: auto;
  top: 0;
  left: 50%;
  color: $gold;
  transform: translateX(#{calc(-50% + 120pt)});
  p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 40.5pt;
    margin: 0;
    font-weight: 600;
  }
  p span {
    font-family: 'source-han-sans-traditional', sans-serif;
    font-weight: 600;
    margin-right: 6pt;
  }

  @media screen and (min-width: 600px) {
    display: flex;
  }
}


////////
// COINS
////////
.coins {
  cursor: pointer;
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 100%;
  width: 96pt;
  margin: 0;
}
.coin {
  flex: 0 0 auto;
  width: 24pt;
  height: 24pt;
  border-radius: 50%;
  border: 4pt solid $gold;
  transition: all .33s ease;
  &.tails {
    background: $gold;
  }
  & + & {
    margin-left: 12pt;
  }
}

// injector
// endinjector
