$black: rgba(0, 0, 0, 0.73);

$unit: 1mm;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: auto;
  margin: 0;
  padding: 0;
  font: 400 12pt/16pt 'brandon-grotesque';
  color: $black;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  h1 {
    font: 600 12pt/16pt 'brandon-grotesque';
  }
  h2 {
    font: 400 12pt/16pt 'brandon-grotesque';
  }
  h3 {
    font: 200 12pt/16pt 'brandon-grotesque';
  }
}

// To display Chinese Unicode characters
.wen {
  font-family: 'source-han-sans-traditional', sans-serif;
  font-size: 4em;
  line-height: 1.8;
  font-weight: 400;
  //padding: 1em;
  margin: 12pt;
  //color: white;
  //background: $black;
}

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}

button {
  font: 600 12pt/16pt 'brandon-grotesque';
  color: $black;
  -webkit-appearance: none;
  background: none;
  padding: 0 0 6pt;
  border: none;
  border-bottom: 3pt solid $black;
  margin-top: 54pt;
  transition-property: border-bottom-color, color;
  transition: .33s ease;
  &:hover,
  &:focus,
  &:active {
    color: black;
    border-bottom-color: black;
  }
}





main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  padding: 0;
  //border: 5mm solid $black;
  margin: 0;
}

////////
// Introductory Page
////////

section.consider {
  .gua {
    margin-top: 54pt;
  }
  .trigram {
    margin-top: 0;
  }
}


////////
// Consult: Results
////////

section.hexagram {
  flex: 0 0 auto;
  position: relative;
  display: block;
  //width: 32mm;
  height: auto;
  & + & {
    margin-left: 24pt;
  }
}
.description {
  max-width: 324pt;
  padding: 0 4em;
  margin: 1.83em auto 0;
  text-align: center;
  h1 {
    margin-bottom: 1em;
  }
  .wen {
    font-size: 1.8em;
    line-height: 1;
    margin-top: 24pt;
    margin-bottom: 12pt;
  }
}

// hexagram: Guà
.gua {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 96pt;
  height: 81pt;
  margin: 0 auto;
}

// Horizontal lines
// Solid line: Yang (1)
.yang {
  position: relative;
  width: 100%;
  height: 6pt;
  background: $black;
  margin-bottom: 9pt;
  &:first-of-type {
    margin-bottom: 0;
  }
  &.changing:after {
    content: '';
    position: absolute;
    right: -12pt;
    width: 6pt;
    height: 6pt;
    //border-radius: 50%;
    background: $black;
  }
}

// Broken line: Yin (0)
.yin {
  @extend .yang;
  &:before {
    content: '';
    position: absolute;
    left: 36pt;
    top: 0;
    bottom: 0;
    width: 24pt;
    height: 6pt;
    background: white;
  }
}

// Trigram displayed beside guà:
.oracle {
  position: relative;
  //display: flex;
  //flex-flow: row nowrap;
  //justify-content: center;
  //align-items: center;
}
.trigram {
  @extend .gua;
  display: none;
  position: absolute;
  align-items: flex-start;
  width: 100%;
  top: 0;
  left: 100%;
  p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 40.5pt;
    margin: 0;
  }
  p span {
    font-family: 'source-han-sans-traditional', sans-serif;
    font-weight: 400;
    margin-right: 6pt;
  }

  @media screen and (min-width: 600px) {
    display: flex;
  }
}


// injector
// endinjector
